
.form-inputs {
    position: relative;
  }
  
  .form-inputs .form-control {
    height: 45px;
    padding-right: 40px; /* Espacio para el botón de búsqueda */
  }
  
  .form-inputs button {
    position: absolute;
    right: 10px;
    top: 15px;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .form-inputs button:focus {
    outline: none;
  }
  
.form-inputs .form-control:focus{
    box-shadow:none;
    border:1px solid #000;
}
.form-inputs i {
    position: absolute;
    top: 50%; /* Centra verticalmente */
    right: 10px;
    transform: translateY(-50%); /* Corrige la posición vertical */
  }
  
  .form-inputs .form-control {
    padding-right: 40px; /* Asegura que el texto no se superpone con el ícono */
  }

.shop-bag{
    background-color:#000;
    color:#fff;
    height:50px;
    width:50px;
    font-size:25px;
    display:flex;
    border-radius:50%;
    align-items:center;
    justify-content:center;
}

.qty{
    font-size:10px;
}
/* Estilos para los enlaces de la clase "nav-link" dentro de la sección "header-main" */
.header-main .nav-link {
    text-decoration: none; /* Eliminar el subrayado */
    color: #000; /* Cambiar el color del texto a negro */
  }
  @media (max-width: 768px) {
    .form-inputs i {
      top: 10px;
      font-size: 18px;
    }
  }
  
  .btn-carrito:hover {
    background-color: #0056b3; /* Color al pasar el cursor */
  }
  
  /* Aparece en pantallas menores a 768px (puedes ajustar según tus necesidades) */
  @media (max-width: 768px) {
    .btn-carrito {
      display: block;
    }
  }
  .carrito-desktop {
    display: flex; /* Mostrar en pantallas grandes */
  }
  
  .btn-carrito {
    display: none; /* Ocultar por defecto */
    /* ...resto del estilo del botón... */
  }
  
  /* Ajustar en pantallas menores a 768px (puedes ajustar según tus necesidades) */
  @media (max-width: 768px) {
    .carrito-desktop {
      display: none; /* Ocultar en pantallas pequeñas */
    }
    .btn-carrito {
      display: block; /* Mostrar en pantallas pequeñas */
    }
  }
  .carrito-desktop {
    display: flex; /* Mostrar en pantallas grandes */
  }
  
  .btn-carrito {
    display: fixed; /* Ocultar por defecto */
    width: 70px; /* Ajusta según tus necesidades */
    height: 70px;
    background-color: black;
    color: white;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: none;
    cursor: pointer;
    font-size: 35px; /* Ajusta según tus necesidades */
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .btn-carrito i {
    margin: 0;
  }
  
  /* Ajustar en pantallas menores a 768px (puedes ajustar según tus necesidades) */
  @media (max-width: 768px) {
    .carrito-desktop {
      display: none; /* Ocultar en pantallas pequeñas */
    }
    .btn-carrito {
      display: flex; /* Mostrar en pantallas pequeñas */
    }
  }
  